<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>使用 Youtube 連結轉換</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>



        <div class="container">
            <h1>第二步：貼上 YouTube 音訊連結</h1>
            <h1>請在下方貼上您想轉譯的 Youtube 音訊連結</h1>
            <form id="youtube-form">
                <input type="text" id="youtube-url-input" placeholder="在此處貼上連結...">
                <button class="start" id="start-button" type="button">Start ➔</button>
            </form>
            <div class="description">
                <p>貼上連結後點擊上方 Start ➔ 按鈕來轉譯您的音訊檔案。</p>
            </div>
            <div id="result"></div>
            <!-- 回上一頁按鈕移到容器內，並調整位置 -->
            <a href="/transcribe/index">
                <button class="homebutton">回上一頁</button>
            </a>
        </div>


        <script src="/static/js/main.js"></script>
        <script>
            document.getElementById('start-button').addEventListener('click', async function () {
                const url = document.getElementById('youtube-url-input').value;
                if (!url) {
                    alert("請貼上有效的 Youtube 連結");
                    return;
                }

                const formData = new FormData();
                formData.append("url", url);
                // 發送 POST 請求到 /api/transcribe/url
                transcribe("/api/transcribe/url", formData);
            });
        </script>
    </body>

</html>