<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>使用本地檔案上傳</title>
        <link href="../../static/img/favicon.png" rel="icon">  <!-- 頁籤上icon  -->
        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
        <div class="container">
            <h1>第二步：選擇電腦中的音訊檔案</h1>
            <h1>請點擊下方「選擇檔案」按鈕<br>來選擇要上傳的音訊檔案</h1>
            <form action="/api/transcribe/file" method="post" enctype="multipart/form-data">
                <label for="file">選擇音檔：</label>
                <input type="file" id="file-upload" name="file" accept="audio/*">
                <button class="start" id="start-button" type="submit">Start ➔</button>
            </form>
            <div class="description">
                <p>選擇完畢後點擊上方 Start ➔ 按鈕來轉譯您的音訊檔案。</p>
            </div>
            <div style="margin-bottom: auto;" id="result"></div>
            <a href="/transcribe/index">
                <button class="homebutton">回上一頁</button>
            </a>
        </div>
        <script src="/static/js/main.js"></script>
        <script>
            document.getElementById('start-button').addEventListener('click', async function (event) {
                event.preventDefault();  // 阻止表單自動提交

                const fileInput = document.getElementById('file-upload');
                const file = fileInput.files[0];

                if (!file) {
                    alert("請選擇一個音訊檔案");
                    return;
                }
                const formData = new FormData();
                formData.append("audio_file", file);  // 正確地將文件添加到 formData
                // 發送 POST 請求到 /api/transcribe/file
                transcribe("/api/transcribe/file", formData);

            });
        </script>

    </body>

</html>